/*----------------------------- import fonts -----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: 0 none;
}

body {
    position: absolute;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
    overflow-x: hidden;
    background-color: antiquewhite;
    z-index: 5;
}

section{
    padding: 2rem 15rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h5 {
    font-size: 1em;
}


li, nav li {
    list-style: none;
}

a { 
    text-decoration: none;
    color: antiquewhite;
}

a:hover{
    color:#4a89aa;
}

article a {
    color: #666666;   
}

article a:hover {
    color:#4a89aa;
}


/*nav bar*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2.1rem 0.9rem 1.2rem 0.9rem;
    background-color: #21374b;
    color: antiquewhite;
    opacity: 0.95;
    z-index: 10;
}

nav img {
    width: 350px;
    height: 64px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
    font-weight: bold;
}

/*general section*/

.general-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
    flex: 2 1;
}

.general-section div {
    display: flex;
    flex-direction: column;
}

.general-section div > * {
    margin: 10px 0;

}

.general-section figure img {
    width: 36rem;
    margin-left: 6rem;
}

/*about*/

.about-section {
    background-color: #f4d4aa;
}

.about-section > * {
    margin: 50px 0;

}

.about-section article > * {
    margin: 10px 0;

}

.about-list {
    padding-left: 35px;
}

.about-list li {
    list-style: circle;
}

.general-section button {
    background-color: #ffc107;
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    margin-top: 25px;
    font-size: 1rem;
}

.general-section button:hover {
    background-color: #ffdd75; 
    color: #4a89aa;
}

/*speakers*/

.speakers-section {
    text-align: center;
}

.speakers-section h2 {
    margin: 40px 0;
}

.speaker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speaker-figure {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: 15px 35px;
}

.speaker-figure img {
    width: 10rem;
    border-radius: 50%;
    filter: grayscale(95%);
    margin-bottom: 15px;
}

.speaker-list-item {
    display: none;
}

.speaker-list-item.active-img {
    display: block;
}

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #4a89aa;
    color: aliceblue;
    padding: 2.1rem 0.9rem 1.2rem 0.9rem;
    text-align: center;
    align-items: center;
}

.footer-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 15rem;
}


footer img {
    width: 320px;
    height: 55px;
}

.footer-contact-div{
    flex-direction: row;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.footer-contact-div > * {
    padding: 12px;
}

.footer > * {
    margin: 9px 0;

}

.footer a:hover{
    color: #ffdd75;
}

.site-credits{
    margin: 25px 0;
    font-size: 18px;
}



/*Program*/

.program-section{
    margin-top: 9%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: space-around;
    text-align: center;
}

.table-p {
    margin-left: 20%;
}

.keydates_table{
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto; 
}

.keydates_table td{
    text-align: left;
}

.program-section table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.table_program{
    width: 70%;
}

.table_program td{
    text-align: center;
    border: 1px solid;
}

.table_program img{
    padding: 0 2vw;
}

.schedule-table{
    width: 100%;
}

.program-section table thead td {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    line-height: 3vw;
    vertical-align: bottom;
}

.program-section table span {
    font-size: 1.4em;
    font-weight: bold;
    color: #4d38a5;
}

.program-section td {
    vertical-align: middle;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    font-size: 1em;
    line-height: 1.1em;
    color: rgb(85, 85, 85);
}

.breaks td {
    line-height: 1.3em;
}

.prog-tracks td {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2em;
    color:#906aac;
    border: none;
    padding-top: 45px;
}

.prog-tracks strong{
    color: rgb(85, 85, 85);
}

.prog-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prog-button a {
    font-size: 1.6em;
    line-height: 1.8em;
}

.program-section section {
    margin-top: 1%;
    margin-bottom: 3%;
}

.program-section p {
    font-size: 15px;
    margin-bottom: 22px;
    margin-top: 18px;
    margin-left: 25%;
}

.speakers-names {
    color: #4a89aa;
}

.prgram-butons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    flex-wrap: wrap;
}

.center{
    text-align: center;
}

.dark-purple{
    color: #6D4486;
    text-decoration: underline;
}