/*----------------------------- import fonts -----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: 0 none;
}

body {
    position: absolute;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: large;
    margin: 0;
    overflow-x: hidden;
    background-color: antiquewhite;
    z-index: 5;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

section {
    padding: 2rem 10rem;
}

li, nav li {
    list-style: none;
}

a { 
    text-decoration: none;
    color: antiquewhite;
}

a:hover{
    color:#4a89aa;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2.1rem 0.9rem 1.2rem 0.9rem;
    background-color: #21374b;
    color: antiquewhite;
    opacity: 0.95;
    z-index: 10;
}

nav img {
    width: 81px;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
    font-weight: bold;
}

.general-section {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
}

.general-section div {
    display: flex;
    flex-direction: column;
}

.general-section div > * {
    margin: 10px 0;

}

.general-section figure img {
    width: 26rem;
    margin-left: 6rem;
}

.about-section {
    background-color: #f4d4aa;
}

.about-section > * {
    margin: 15px 0;

}

.general-section button {
    background-color: #ffc107; 
    width: 9rem;
    height: 2rem;
    border-radius: 20px;
    margin-top: 25px;
}

.general-section button:hover {
    background-color: #ffdd75; 
    color: #4a89aa;
}

.speakers-section {
    padding: 1.5rem 6.2rem!important;
    text-align: center;
}

.speakers-section h2 {
    margin: 40px 0;
}

.speaker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speaker-figure {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin: 15px 35px;
}

.speaker-figure img {
    width: 10rem;
    border-radius: 50%;
    filter: grayscale(95%);
    margin-bottom: 15px;
}

.active-img {
    display: block;
}

.inactive-img {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #4a89aa;
    color: aliceblue;
    padding: 2.1rem 0.9rem 1.2rem 0.9rem;
    text-align: center;
    align-items: center;
}

.footer-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 15rem;
}


footer img {
    width: 81px;
    height: 50px;
}

.footer-contact-div{
    text-align: left;
}

.footer-contact-div > * {
    margin: 2px 0;
}

.footer > * {
    margin: 9px 0;

}

.site-credits{
    font-size: 10px;
}

